@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

:root {
    --bg-color: #70c1b3;
    --card-color: #1d262d;
    --primary-font-color: #fff;
    --icon-color: #f25f5c;
    --active-color: #7067cf;
    text-wrap: balance;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-font-color) !important;
    font-family: 'Electrolize', sans-serif;
    font-size: min(calc(16px + 0.4vw), 20px);
}
h1 {
    font-size: calc(20px + 0.6vw);
}
.container {
    max-width: 1366px;
    padding: 25px;
}

.card {
    background-color: var(--card-color);
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    box-shadow: 10px 10px #ffe066;
    border-radius: 0;
}

.card-body div span {
    display: inline-flex;
    flex-wrap: wrap;
}

.side-panel {
    min-height: fit-content;
}

.side-panel .card-body div {
    margin-bottom: 0.5vh;
}

.page {
    height:45vh;
    margin-bottom: 25px;
}

i {
    color: var(--icon-color);
    line-height: normal !important;
    margin-right: 5px;
}
a {
    color: var(--primary-font-color);
}

a:hover {
    color: var(--active-color);
}


@media ((min-width: 415px) and (max-width: 576px)) {
    /* … */
    .card {
        font-size: calc(12px + 0.4vw);;
    }

    h1{
        font-size: calc(16px + 0.4vw);
    }
    .side-panel {
       height: 350px;
       min-width: 365px;
       flex-direction: row;
       margin-bottom: 25px;
    }

    .side-panel img {
        width: 35vw;
        min-width: 200px;
    }
    .page {
        height:500px;
        min-width: 365px;
    }

    
  }
  
  @media (max-width: 414px) {
    /* … */
    .card {
        font-size: calc(14px + 0.4vw);;
    }

    h1{
        font-size: calc(18px + 0.4vw);
    }
    .side-panel {
       margin-bottom: 25px;

    }
    hr {
        display: none;
    }
    .page {
        height:550px;
        
    }

    
  }